<div class = "main radio-page">
	<div class="container">
	<div class = "radio-top" >
		<h1>ユウマシンラジオ</h1>
	</div>

	<div class = "radio-contents">
		<div class = "radio-content">
			<h2>ことぶつえん運営者のユウマシンによるラジオトーク</h2>
			<p>nomizunoとシンタケウチの２人で</p>
			<p>ことぶつえんに投稿された言葉について</p>
			<p>緩いトークを交わしています。</p>
			<p>収録はきまぐれです。</p>
			<p>眠れぬ夜のお供に。</p>
		</div>

		<div class = "radio-list">
			<div>
			<h2>Back Number</h2>
			</div>
			<%= link_to("#6「秋」の良さ (9/20)","https://radiotalk.jp/talk/59804",class:"",:target=>["_blank"]) %>
			<%= link_to("#5「ことぶつえん」について (9/15)","https://radiotalk.jp/talk/56481",class:"",:target=>["_blank"]) %>
			<%= link_to("#4「仕事」の意味 (9/15)","https://radiotalk.jp/talk/56439",class:"",:target=>["_blank"]) %>
			<%= link_to("#3「さよなら」の意味 (9/11)","https://radiotalk.jp/talk/53477",class:"",:target=>["_blank"]) %>
			<%= link_to("#2「愛」のとは (9/9)","https://radiotalk.jp/talk/51986",class:"",:target=>["_blank"]) %>
			<%= link_to("#1「恋」のとは (9/9)","https://radiotalk.jp/talk/51943",class:"",:target=>["_blank"]) %>
		</div>

 </div>
</div>
