<div class="main posts-new">
	<div class="container">
		<h1 class="form-heading">知りたい”ことば”を<br>投稿する</h1>
		<% if user_signed_in? %>
		  <%= form_tag("/posts/create")do %>
		    <div class="form">
			  <div class="form-body">
			    <% @post.errors.full_messages.each do |message| %>
				<div class="form-error">
					<%= message %>
				</div>
				<% end %>
				<p>ことば</p>
				<input name="content" value ="<%= @post.content %>">
				<p>よみかた</p>
				<input name = "reading" value = "<%= @post.reading %>">
				<input type ="submit" value="”ことば”を投稿する" class="submit-btn">
			  </div>
		   </div>
		<% end %>
		<% else %>

		<div class = "Induction" >

		<%= link_to("投稿するにはログインしてね！","/users/sign_in") %>

		</div>
	   <% end %>
	</div>
</div>
