<!DOCTYPE html>

<html>
<head>

	<title>ことぶつえん</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%= stylesheet_link_tag    'main/application', media: 'all', 'data-turbolinks-track' => true %>

	<!-- /jQueryを読み込む -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" type="text/css" />
  <%= javascript_include_tag 'main/application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <%= analytics_init if Rails.env.production? %>

	 <!-- 検索エンジン用 -->
 <meta name="description" content="「ことぶつえん」は投稿型辞書アプリです。一緒にことばの新しい意味を考えてみない？">

 <!-- OGPタグ -->
 <meta property="og:url" content="www.kotobutsuen.com" />
 <meta property="og:image" content="jungle.jp" />
</head>


<body>
  <header>
    <div class="header-logo">
      <%= link_to("ことぶつえん","/") %>
    </div>
    <div class="search-tag">
    <%= form_tag '/posts/index', :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] ,placeholder: '例）涙', class:'search-box'%>
          <button type="submit" onclick="history.back()" class="search-btn">
            <i class="fa fa-search"></i>
          </button>


        </p>
        <% end %>
    </div>
    <nav class="g-nav">
    <ul class="menu">


      <li>
        <%= link_to("検索","/",class:"menu-item") %>
      </li>

      <li>
        <%= link_to("索引","/posts/index_all",class:"menu-item") %>
      </li>

      <li>
        <%= link_to("ことば投稿","/posts/new",class:"menu-item") %>
      </li>

      <li>
			  <%= link_to("使い方","/about",class:"menu-item") %>
			</li>
    <% if user_signed_in? %>
    <li>
      <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"menu-item logout"%></p>
    </li>
<!-- alert -->
    <script>
$('.logout').click(function(){
    if(!confirm('本当にログアウトしますか？')){
        /* キャンセルの時の処理 */
        return false;
    }else{
        /*　OKの時の処理 */
        location.href = '/';
    }
});
</script>
<!-- alert -->
    <li>
      <%= link_to("#{current_user.name}",  "/users/#{current_user.id}",class:"menu-item") %></p>
    </li>
    <% else %>
    <li>
     <p><%= link_to "ログイン", "/users/sign_in",class:"menu-item" %></p>
   </li>
   <li>
     <p><%= link_to "新規登録", "/users/sign_up",class:"menu-item" %></p>
   </li>
  <% end %>

  </ul>
  </nav>
  <div class="sp-menu">
    <a href="#" class="menu-trigger" onclick="return false;">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
<!-- /ハンバーガーjava開始 -->
  <script type="text/javascript">
    $(function() {
    $('.menu-trigger').click(function() {
        $(this).toggleClass('active');
        $('.g-nav').slideToggle(400);
    });
});
  </script>
<!-- /ハンバーガーjava終了 -->
</header>

<% if flash[:notice] %>
<div class ="flash">
	  <p class="alert"><%= alert %></p>
  <%= flash[:notice] %>
</div>
<% end %>

<div class="back-btn">
  <button type="submit" onclick="history.back()">戻る</button>
</div>

<footer>
<ul class="footer-menus">
    <li>
    <%= link_to("トップ","/",class:"footer-link")  %>
    </li>
    <li>|</li>
    <li>
    <%= link_to("利用規約","/agreement",class:"footer-link") %>
    </li>
    <li>|</li>
		<li>
    <%= link_to("Q&A","/question",class:"footer-link") %>
    </li>
    <li>|</li>
    <li>
    <%= link_to("運営【ユウマシン】","http://www.yumashin.net/",class:"footer-link animated pulse infinite",:target=>["_blank"]) %>
    </li>
    <li>|</li>
    <li>
    <%= link_to("コンタクト","https://thebase.in/inquiry/yumashin",class:"footer-link",:target=>["_blank"]) %>
    </li>
  </ul>
    <p class="copy-right">Copyright(c)2018 kotobutsuen.com All Rights Reserved</p>
</footer>

<%= yield %>



<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>




</body>
</html>
